
<ion-view title="Update Contact">
  <ion-nav-buttons side="right">
    <mc-sync-spinner></mc-sync-spinner>
  </ion-nav-buttons>

  <ion-content>
    <form name="contactForm" ng-submit="vm.updateContact()">
      <div class="list">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Account</span>
          <input type="text" disabled value="{{::vm.c.AccountName}}"/>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">First Name</span>
          <input type="text" ng-model="vm.c.FirstName" value="{{vm.c.FirstName}}" required/>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Last Name</span>
          <input type="text" ng-model="vm.c.LastName" value="{{vm.c.LastName}}" required/>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Title</span>
          <input type="text" ng-model="vm.c.Title" value="{{vm.c.Title}}" />
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Mobile</span>
          <input type='tel' pattern='[\+]\d{2}[\(]\d{3}[\)]\d{3}[\-]\d{4}'
          ng-model="vm.c.MobilePhone" value="{{vm.c.MobilePhone}}"
          placeholder="+44(999)999-9999"/>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Email</span>
          <input type="email" ng-model="vm.c.Email" value="{{vm.c.Email}}"/>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Department</span>
          <input type="text" ng-model="vm.c.Department" value="{{vm.c.Department}}"/>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Languages</span>
          <input type="text" ng-model="vm.c.Languages__c" value="{{vm.c.Languages__c}}"/>
        </label>
      </div>
      <div class="row">
        <div class="col">
          <button class="button-full button icon-left ion-checkmark button-positive {{submitAllowedClass}}" ng-disabled="contactForm.$invalid">Update</button>
        </div>
        <div class="col">
          <a class="button-full button icon-left ion-close button-assertive" href="#/tab/account/{{::vm.c.AccountId}}/contact/{{::vm.c.Id}}">Cancel</a>
        </div>
      </div>
    </form>
  </ion-content>
</ion-view>
