<ion-view  title="Contact Details" cache-view="false" >
  <ion-nav-title>{{::vm.contact.Name}}</ion-nav-title>

  <ion-nav-buttons side="right">
    <a href="#/tab/account/{{::vm.contact.AccountId}}/contact/{{::vm.contact.Id}}/update" class="button button-icon icon ion-edit">
    </a>
    <mc-sync-spinner></mc-sync-spinner>
  </ion-nav-buttons>

  <ion-content>
    <div class="list card">

      <div class="item">
        <h2>{{::vm.contact.AccountName}}</h2>
        <p>{{::vm.contact.Title}}</p>
      </div>
      <div ng-if="vm.contact.MobilePhone" class="item">
        {{::vm.contact.MobilePhone}}
      </div>
      <div ng-if="vm.contact.Email" class="item">
        {{::vm.contact.Email}}
      </div>
      <div ng-if="vm.contact.Department" class="item">
        {{::vm.contact.Department}}
      </div>
      <div ng-if="vm.contact.Languages__c" class="item">
        {{::vm.contact.Languages__c}}
      </div>
    </div>
  </ion-content>
</ion-view>
