
<ion-view title="New Contact">
  <ion-nav-buttons side="right">
    <mc-sync-spinner></mc-sync-spinner>
  </ion-nav-buttons>

  <ion-content>
    <form name="contactForm" ng-controller="ContactNewCtrl as vmc" ng-submit="vmc.addContact()">
      <div class="list">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Account</span>
          <input type="text" disabled value="{{::vm.account.Name}}"/>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">First Name</span>
          <input type="text" ng-model="vmc.c.FirstName" placeholder="John" required/>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Last Name</span>
          <input type="text" ng-model="vmc.c.LastName"  placeholder="Smith" required/>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Title</span>
          <input type="text" ng-model="vmc.c.Title"  placeholder="Account Manager" />
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Mobile</span>
          <input type="number" ng-model="vmc.c.MobilePhone"  placeholder="+447957 123456" />
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Email</span>
          <input type="email" ng-model="vmc.c.Email" placeholder="john.smith@company.com" required/>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Department</span>
          <input type="text" ng-model="vmc.c.Department" placeholder="Technology"/>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Languages</span>
          <input type="text" ng-model="vmc.c.Languages__c" placeholder="English"/>
        </label>
      </div>
      <div class="row">
        <div class="col">
          <button class="button-full button icon-left ion-checkmark button-positive {{submitAllowedClass}}" ng-disabled="contactForm.$invalid">Submit</button>
        </div>
        <div class="col">
          <a class="button-full button icon-left ion-close button-assertive" href="#/tab/account/{{vm.account.Id}}">Cancel</a>
        </div>
      </div>
    </form>
  </ion-content>
</ion-view>
