<ion-tabs class="tabs-icon-top tabs-default">

  <!-- Accounts Tab -->
  <ion-tab title="Accounts" icon="icon ion-home" href="#/tab/accounts">
    <ion-nav-view name="accounts-tab"></ion-nav-view>
  </ion-tab>

  <!-- DevTools Tab -->
  <ion-tab title="Settings" icon="icon ion-gear-a" href="#/tab/settings">
  	<ion-nav-view name="settings-tab"></ion-nav-view>
  </ion-tab>

</ion-tabs>
